loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
singleBinary:
  replicas: 1
monitoring:
  serviceMonitor:
    labels:
      release: kube-prometheus-stack
rbac:
  pspEnabled: false
